* {
    margin: 0;
    padding: 20;
}

body {
    font-family: 'outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.qr-code img {
  width: 150%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

